* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.main {
    height: 100%;
    width: 100%;
    background-color: #ededed;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 30% 55% 15%;
    position: relative;
}

.left-top-left {
    /* background-color: rgb(255, 60, 0); */
    padding: 40px;
}

#square {
    height: 20px;
    width: 20px;
    rotate: 45deg;
    background-color: black;
}


.left-top-right {
    /* background-color: rgb(0, 81, 255); */
    justify-self: right;
    padding: 40px;
    text-align: right;
}

.left-top-right h4 {
    margin-bottom: 25px;
    font-size: 1.2rem;
    font-weight: 500;
}

.left-top-right h5 {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

.left-top-right h6 {
    display: none;
}

.sidebar {
    /* display: none; */
    position: absolute;
    top: 0;
    right: -120%;
    background-color: #ffffffc2;
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 400px;
    padding: 24px;
    z-index: 1;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.75s ease-out;
}

.sidebar h6 {
    font-size: 43px;
    font-weight: 500;
    color: #333;
    display: inline-block;
}

.sidebar h5 {
    font-size: 22px;
    font-weight: 500;
    color: #333;
    margin-bottom: 18px;
}

.left-center {
    /* background-color: darkgoldenrod; */
    grid-column: 1/3;
    padding: 20px 40px;
}

.left-center h1 {
    font-size: 6vw;
    line-height: 6vw;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.left-center h1:nth-child(2n) {
    text-align: center;
    padding-left: 2rem;
}

/* .left-center h1:nth-child(3)::after {
    content: "";
    display: block;
    width: 6vw;
    height: 7px;
    background-color: #333;
    position: absolute;
    right: 165px;
    top: 2rem;
} */

.left-center h1:nth-child(4) {
    padding-left: 90px;
}

.left-bottom {
    /* background-color: lightcoral; */
    grid-column: 1/3;
}

.left-bottom p {
    width: 60%;
    font-size: .80rem;
    padding: 20px 40px;
}

.right {
    /* background-color: cornflowerblue; */
    grid-column: 3;
    grid-row: 1/4;
    padding: 40px;
    padding-right: 100px;
}

.right video {
    /* max-width: 100%; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    background-color: #bb4724;
    color: #fff;
    padding: 16px;
    /* height: 40px;
    width: 40px; */
    border-radius: 50%;
    cursor: pointer;
}

.arrow i {
    font-size: 40px;
    /* font-size: 28px; */
    font-weight: 100;
}

/* .arrow:hover {
    transform: translateX(10px);
} */

.src {
    position: absolute;
    right: 40px;
    top: 38px;
    rotate: 90deg;
}

.src i {
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .main {
        grid-template-columns: 50% 50%;
        grid-template-rows: 60px 25% 8%;
    }

    .left-top-left {
        /* background-color: rgb(255, 60, 0); */
        padding: 20px;
    }

    #square {
        height: 25px;
        width: 25px;
    }


    .left-top-right {
        /* background-color: rgb(0, 81, 255); */
        /* padding: 40px; */
        padding: 7px 20px 0 0;
    }

    .left-top-right h4 {
        display: none;
    }

    .left-top-right h5 {
        display: none;
    }

    .left-top-right h6 {
        display: initial;
        font-size: 43px;
    }

    .left-center {
        padding: 50px 40px;
    }

    .left-center h1 {
        /* font-size: 4rem; */
        /* line-height: 3.4rem; */
        text-align: center;
    }

    .left-center h1:nth-child(2n) {
        padding-left: 190px;
    }

    .left-bottom p {
        width: 78%;
        text-align: center;
        margin-inline: auto;
        font-size: 18px;
    }

    .arrow {
        top: 40%;
        rotate: 90deg;
        left: 42%;
    }

    .right {
        grid-column: 1/4;
        grid-row: 4;
        padding: 20px;
    }

    .right video {
        height: 60vh;
        object-position: center;
    }

    .src {
        display: none;
    }

    /* .sidebar {
        display: block;
    } */
}

@media (max-width: 768px) {
    .main {
        /* background-color: darkgoldenrod; */
        grid-template-rows: 60px 22% 8%;
    }

    .right video {
        margin-top: 24px;
    }

    .arrow {
        top: 40%;
        left: 40%;
    }

    .right video {
        height: 60vh;
        object-position: center;
    }
}

@media (max-width: 530px) {
    .main {
        /* background-color: darkolivegreen; */
        grid-template-rows: 60px 14% 12%;
    }

    .left-center {
        padding: 12px;
    }

    .left-center h1 {
        /* font-size: 3rem; */
        /* line-height: 3.4rem; */
        text-align: center;
    }

    .left-center h1:nth-child(2n) {
        padding-left: 85px;
        text-align: center;
    }

    .left-bottom p {
        width: 100%;
        text-align: center;
        /* margin-left: 118px; */
        margin-inline: auto;
        font-size: 18px;
    }

    .arrow {
        top: 35%;
        left: 41%;
        padding: 8px;
    }

    .arrow i {
        font-size: 28px;
    }

    .right video {
        height: 38vh;
        object-position: center;
    }

    .sidebar {
        width: 100%;
    }
}