* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.main {
    height: 100vh;
    width: 100%;
    background-color: #ededed;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 30% 55% 15%;
    position: relative;
}

.left-top-left {
    /* background-color: rgb(255, 60, 0); */
    padding: 40px;
}

#square {
    height: 20px;
    width: 20px;
    rotate: 45deg;
    background-color: black;
}


.left-top-right {
    /* background-color: rgb(0, 81, 255); */
    justify-self: right;
    padding: 40px;
    text-align: right;
}

.left-top-right h4 {
    margin-bottom: 25px;
    font-size: 1.2rem;
    font-weight: 500;
}

.left-top-right h5 {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

.left-top-right h6 {
    display: none;
}

.sidebar {
    /* display: none; */
    position: absolute;
    top: 0;
    right: -130%;
    background-color: #ffffffc2;
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 400px;
    padding: 24px;
    z-index: 1;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.75s ease-out;
}

.sidebar h6 {
    font-size: 43px;
    font-weight: 500;
    color: #333;
    display: inline-block;
}

.sidebar h5 {
    font-size: 22px;
    font-weight: 500;
    color: #333;
    margin-bottom: 18px;
}

.left-center {
    /* background-color: darkgoldenrod; */
    grid-column: 1/3;
    padding: 20px 40px;
}

.left-center h1 {
    font-size: 6vw;
    line-height: 6vw;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.left-center h1:nth-child(2n) {
    text-align: center;
    padding-left: 2rem;
}

.left-center h1:nth-child(4) {
    padding-left: 90px;
}

.left-bottom {
    /* background-color: lightcoral; */
    grid-column: 1/3;
}

.left-bottom p {
    width: 60%;
    font-size: .80rem;
    padding: 8px 40px;
}

.right {
    /* background-color: seagreen; */
    /* background-color: #ededed; */
    grid-column: 3;
    grid-row: 1/4;
    padding: 40px;
    padding-right: 100px;
}

.right video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    background-color: #bb4724;
    color: #fff;
    padding: 16px;
    /* height: 40px;
    width: 40px; */
    border-radius: 50%;
    cursor: pointer;
}

.arrow i {
    font-size: 40px;
    /* font-size: 28px; */
    font-weight: 100;
}

/* .arrow:hover {
    transform: translateX(10px);
} */

.src {
    position: absolute;
    right: 40px;
    top: 38px;
    rotate: 90deg;
}

.src i {
    font-size: 20px;
    font-weight: 600;
}


@media (max-width: 1024px) {
    .main {
        grid-template-columns: 50% 50%;
        grid-template-rows: 60px 36% 10%;
    }

    .left-top-left {
        padding: 20px;
    }

    #square {
        height: 25px;
        width: 25px;
    }

    .left-top-right {
        padding: 14px;
    }

    .left-top-right h4 {
        display: none;
    }

    .left-top-right h5 {
        display: none;
    }

    .left-top-right h6 {
        display: initial;
        font-size: 32px;
        font-weight: 300;
    }

    .left-center {
        justify-self: center;
        align-self: center;
    }

    .left-center h1 {
        font-size: 3rem;
        line-height: 2.6rem;
        text-align: center;
    }

    .left-center h1:nth-child(2n + 1) {
        padding-right: 100px;
    }

    .left-center h1:nth-child(2n) {
        padding-left: 100px;
    }

    .left-bottom {
        align-self: center;
    }

    .left-bottom p {
        width: 80%;
        text-align: center;
        margin-inline: auto;
        font-size: 18px;
    }

    .right {
        grid-column: 1/4;
        grid-row: 4;
        padding: 20px;
    }

    .right video {
        height: 46vh;
        object-position: center;
    }


    /* &&&&&&&& */
    .arrow {
        display: none;
    }

    .src {
        display: none;
    }

    .sidebar {
        height: 100vh;
        position: fixed;
    }

    /* .sidebar h5 {
        display: none;
    } */
}

@media (max-width: 768px) {
    .main {
        /* background-color: rgba(255, 255, 0, 0.548); */
        grid-template-rows: 60px 38% 10%;
    }

    .left-bottom p {
        width: 90%;
    }

    .right video {
        height: 42vh;
    }
}

@media (max-width: 481px) {
    .main {
        /* background-color: rgba(0, 255, 0, 0.548); */
        grid-template-rows: 60px 23% 8%;
    }

    .left-bottom p {
        width: 100%;
    }

    .left-center h1 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .left-center h1:nth-child(2n + 1) {
        padding-right: 80px;
    }

    .left-center h1:nth-child(2n) {
        padding-left: 80px;
    }
}

@media (max-width: 409px) {
    .main {
        /* background-color: rgba(0, 204, 255, 0.548); */
        grid-template-rows: 60px 26% 10%;
    }

    .left-center h1 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .left-bottom p {
        font-size: 13px;
    }

    .sidebar {
        width: 100%;
    }
}
















/* hero-section */

.hero-top-header {
    width: 100%;
    background-color: darkgoldenrod;
    padding: 40px 50px;
}

.hero-top-header h1 {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

.hero-center {
    height: 200px;
    /* background-color: lightblue; */
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.hero-center p {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
}

.hero-right {
    width: 20%;
    margin-top: 32px;
}

.elem {
    /* background-color: salmon; */
    /* margin: 5px; */
    padding: 8px 0;
    border-top: 2px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elem i {
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
}

.elem a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

.elem:hover i {
    opacity: 1;
}

.hero-bottom {
    height: 300px;
    width: 100%;
    background-image: url(./img/model-girl.jpg);
    background-size: cover;
    background-position: 0 46%;
}

@media (max-width: 768px) {

    .hero-top-header h1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .hero-center p {
        font-size: 20px;
        line-height: 20px;
    }

    .elem a {
        font-size: 16px;
    }

    .hero-center {
        flex-direction: column;
    }

    .hero-right {
        width: 58%;
    }

    .hero-center {
        margin-bottom: 28px;
    }

    .hero-bottom {
        height: 170px
    }
}

@media (max-width: 530px) {
    .hero-top-header {
        margin-top: 0px
    }

    .hero-top-header h1 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .hero-center p {
        font-size: 18px;
        line-height: 18px;
    }

    .hero-center {
        margin-bottom: 45px;
    }
}